<!-- add sign_in/out links, so the appropriate one will show up depending on whether the user is already signed in -->

<% if user_signed_in? %>
  <div id="nobullets">
	  <ul>
		  <li>
		  	Hi, <%= current_user.email %>
		  </li>
		  <li>
		  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
		  </li>
	  </ul>
	</div>  
<% else %>
  <li>
  	<%= link_to('Login', new_user_session_path)  %>
	</li>
  <li>
  	<%= link_to('Sign up', new_user_registration_path) %>
  </li>
<% end %>