<!-- add sign_in/out links, so the appropriate one will show up depending on whether the user is already signed in -->
<!-- add 'hi' to navbar to identify logged in user -->

<% if user_signed_in? %>
  <div id="nobullets">
	  <ul>
		  <li>
		  	Hi, <%= link_to current_user.first_name, current_user%>
		  </li>
		  <li>
		  <%= link_to('logout', destroy_user_session_path, :method => :delete) %>        
		  </li>
	  </ul>
	</div>  
<% else %>
  <li>
  	<%= link_to('login', new_user_session_path)  %>
	</li>
  <li>
  	<%= link_to('sign up', new_user_registration_path) %>
  </li>
<% end %>

