<script src="https://apis.google.com/js/platform.js" async defer></script>

<h1>About the Seen-It Team</h1>
<br>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<img src="/assets/chris.jpg" class="about-pics">
			<br><br>
			<div class="g-follow" data-annotation="bubble" data-height="15" data-href="//plus.google.com/u/0/108466508041843226480" data-rel="author">
			</div>						
			<br>
			Chris lives in The Mission with his girlfriend, two cats and two rats.  He's an advocate for the reform of online scientific discourse.
		</div>
		<div class="col-md-4">
			<img src="/assets/darrell.jpg" class="about-pics">
			<br><br>
			<a href="https://twitter.com/hyperjuice" class="twitter-follow-button" data-show-count="false">Follow @diet_rj</a>
			<script>
			!function(d,s,id){
				var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
				if(!d.getElementById(id)) {
					js=d.createElement(s);
					js.id=id;
					js.src=p+'://platform.twitter.com/widgets.js';
					fjs.parentNode.insertBefore(js,fjs);
				}
			} (document, 'script', 'twitter-wjs');
			</script>
			
			<br>

			<script src="//platform.linkedin.com/in.js" type="text/javascript">
			</script>

			<script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/darrellcohn" data-format="click" data-related="false" data-text="Darrell Cohn">
			</script>

			<br>

			<iframe src="https://ghbtns.com/github-btn.html?user=hyperjuice&type=follow&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
			<br>
			Darrell is a dreamer, partner, eager, gamer, maker, curious, earlyAdopter, zombiephile, steampunker, sci-fi geek, animationist, runner, riskTaker, robotWannabe, snowboarder.
		</div>

		<div class="col-md-4">
			<img src="/assets/rasheed.jpg" class="about-pics">
			<br><br>
			<a href="https://twitter.com/diet_rj" class="twitter-follow-button" data-show-count="false">Follow @diet_rj</a>
			<script>
			!function(d,s,id){
				var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
				if(!d.getElementById(id)) {
					js=d.createElement(s);
					js.id=id;
					js.src=p+'://platform.twitter.com/widgets.js';
					fjs.parentNode.insertBefore(js,fjs);
				}
			} (document, 'script', 'twitter-wjs');
			</script><br>
	
			<script src="//platform.linkedin.com/in.js" type="text/javascript">
			</script>
			
			<script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/rasheedromain" data-format="click" data-related="false" data-text="Rasheed Romain">
			</script>

			<br>
			
			<div class="g-follow" data-annotation="bubble" data-height="15" data-href="//plus.google.com/u/0/107099647440731719429" data-rel="author"></div>
			<br>
			Rasheed is a Web developing enthusiast in the language of JavaScript & Ruby on Rails. He enjoys working with others, and learning new things about the forever changing web.
		</div> <!-- rasheed's column -->

		<ul class="nav nav-list">
		  <li class="divider page-divider"></li>
		</ul>

		<div class="col-md-4">
		Chris used a rake script to seed the database with around 500 interview questions.  He also did most of the visual design, in bootstrap.
		</div>

		<div class="col-md-4">
		Darrell did the wireframing, much of the site templating, and the Pundit authorization.
		</div>		

		<div class="col-md-4">
		Rasheed handled authentication with Devise, got the Bootstrap started, and installed numerous Ruby gems (commenting, upvoting, etc.)
		</div>

	</div> <!-- row div -->

</div> <!-- container-fluid div -->
