// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-pic {
  margin-left: auto;
  margin-right: auto;
}

.post {
	padding: 5px 0;
	width: 100%;
	height: 100%
}

.post p {
	margin: 4px 0;
}

.post .admin {
	display: none;
}

/*.post.hover .admin {
	display: inline;
}

.post.hover {
	background: #FAFAFA
}*/

.notice {
	font-size: 24px;
	font-weight: bold;
	color: green;
}

.alert {
	font-size: 24px;
	font-weight: bold;
	color: red;
}

.tag-pad {
	margin: 5px;
	padding: 5px;
}

.context {
	display: inline-block;
	width: 97%;
	float: right;

    width: -moz-calc(97% - 100px);
    width: -webkit-calc(97% - 100px);
    width: calc(97% - 100px);
    height: 100%;
}

.eyeballs {
	padding-top: 5px;
    display:inline-block;
	float: left;
	width: 54px;
	height: 100%;
}

.votes {
	text-align: right;
	padding-top: 20px;
	padding-right: 10px;
    display:inline-block;
	float: left;
	width: 70px;
	height: 100%;
	font-size: 25pt;
	font-style: bold;
}

.top-graphic {
	background-image: image-url("seenit-jumbo.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.top-message {
	float: left;
	color: white;
	font-size: 25;
}

.bot-message {
	float: right;
	color: white;
}

.special-h2 {
	margin-bottom: 0;
}

.inverse {
	color: white;
	background-color: black;
	padding: 3px 6px;
}
