// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
	border-bottom: solid 1px #CCC;
	padding: 5px 0;

}

.post p {
	margin: 4px 0;
}

.post .admin {
	display: none;
}

.post.hover .admin {
	display: inline;
}

.post.hover {
	background: #FAFAFA
}